h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500px;
    line-height: 32px;
    font-size: 24px;
}
.container{
    padding: 50px 180px ;
}

header{
    position: fixed;
    background-color: #fff;
}

.py-6{
    padding-top: 10rem;
    padding-bottom: 3rem;
}
nav ul {
    list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul a{
    text-decoration: none;
    
}
a{
    text-decoration: none;
}